<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".business_logic.Hilt"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WorldRadio"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TimerActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldRadio" />
        <activity
            android:name=".ui.activities.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WorldRadio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".business_logic.player.PlayerService"
            android:exported="false"/>

    </application>

</manifest>